<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="quanlyhanghoa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SửaHàngHóa">

        <activity android:name=".DanhSachTheoLoaiActivity" />

        <activity
            android:name=".Welcome"
            android:exported="true"
            android:label="Màn Hình Chào Mừng">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dangnhap"
            android:exported="false"
            android:label="Màn Hình Đăng Nhập"
            android:parentActivityName=".Welcome" />

        <activity
            android:name=".Trangchu"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".themhanghoa" />

        <activity
            android:name=".ChiTietHangHoaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SuaHangHoaActivity"
            android:exported="false"
            android:label="Sửa Hàng Hóa"
            android:parentActivityName=".ChiTietHangHoaActivity" />

        <activity
            android:name=".DanhSachPhieuNhapActivity"
            android:exported="false"
            android:label="Danh Sách Phiếu Nhập" />

        <activity
            android:name=".ThemPhieuNhap"
            android:exported="false"
            android:label="Tạo Phiếu Nhập Mới"
            android:parentActivityName=".DanhSachPhieuNhapActivity" />

        <activity android:name=".XemChiTietPhieu" />

        <activity
            android:name=".ThongKeActivity"
            android:exported="false"
            android:label="Màn Hình Thống Kê"
            android:parentActivityName=".Trangchu" />

        <activity
            android:name=".BaoCaoChiTietActivity"
            android:exported="false"
            android:label="Báo Cáo Chi Tiết"
            android:parentActivityName=".ThongKeActivity" />

    </application>

</manifest>